*,
*::after,
*::before {
    box-sizing: border-box;
}

button {
    color: inherit;
    border: 2px solid white;
    background: inherit; 
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto';
}

.container {
    max-width: 1070;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0.2em;
}

.header {
    background-image: url('../img/backVideo.mp4');
    height: 100vh;
}

.header__top {
    position: relative;
    padding-top: 54px;
    display: flex;
    justify-content: space-between;
    font-weight: 400px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2em;
}

.menu {
    position: relative;
}

.menu__list {
    display: flex;
    height: 100%;
    align-items: center;
}

.menu-item {
    display: inline-block;
}

.menu__list-href {}

/* Первый как бы пропускается */
.menu__list-href+.menu__list-href {
    margin-left: 47px;
}

.menu__list-social+.menu__list-social {
    margin-left: 31px;
}

.menu__list-href-link:hover {
    text-decoration: underline;
}

.menu__list-stick {
    display: inline-block;
    border-left: 1px solid white;
    height: 50px;
    margin: 0 47px;
}

#video-bg {
    overflow: hidden;
    z-index: 1;
    background: url(../img/headerBack.jpg) no-repeat #000000;
    opacity: 0.4;
    background-size: cover;
}

#video-bg>video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}

@supports (object-fit: cover) {
    #video-bg>video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.header__title {
    padding-top: 350px;
    text-align: left;
    font-size: 48px;
    line-height: 56px;
    font-weight: 750;
    letter-spacing: 0.2em;
}

.header__title button {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 750;
    letter-spacing: 0.2em;
    margin-top: 29px;
    padding: 12px 26px;
}

.portfolio__title {
    padding-top: 43px;
    text-align: center;
}

.portfolio__inner {
    padding-top: 57px;
}

.portfolio__videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio__videos-card {
    position: relative;
    margin-top: 24px;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.3);
}

.card-img {

    max-width: 500px;
    opacity: 0.4;
}

.card-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 20%;
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 150px;
    text-align: center;
}

.portfolio__btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 0.2em;
    padding: 17px 29px;
    margin-top: 61px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}